<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        设置使用注解的类所在的jar包，在此配置的是所有ajax/form的.do请求的包
        在context:component-scan可以添加use-default-filters，spring配置中的use-default-filters用来指示是否自动扫描带有@Component、@Repository、@Service和@Controller的类。默认为true，即默认扫描
        如果想要过滤其中这四个注解中的一个，比如@Repository，可以添加<context:exclude-filter />子标签
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        注：在这里 添加组成扫描,排除被SpringMVC包含的过滤注解
		注意：如果在spring-mvc内还配置了use-default-filters="false"，在这里 也进行配置的话，会导致冲突，致使Service的bean失效
    -->
    <context:component-scan base-package="cn.com.ailbb">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>

    <!-- bean配置，配置以后启动时会执行该类 -->
    <!--<bean class="cn.com.ailbb.manage.InitManage"></bean>-->

</beans>